<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Gooder Reads</title>
  <link rel="icon" href="/assets/favicon.png">
  <script type="text/javascript" src="https://www.google.com/books/jsapi.js"></script>
  <link rel="stylesheet" href="/css/reset.css">
  {{!--
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous"> --}}
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Fugaz+One|Khand|Patua+One|Sigmar+One" rel="stylesheet">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/colors.css">
  <link rel="stylesheet" href="/css/nav.css">
</head>

<body>
  <!-- creates the nav bar usign bootstrap-->
  <nav class="navbar navbar-expand-lg navbar-dark" id="nav">
    <a class="navbar-brand" href="/" id="title">Gooder Reads <span class="fas fa-book"></span></a>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 border-dark" id="book-search-title" type="search" placeholder="Search"
        aria-label="Search">
      <button class="btn my-2 my-sm-0" id="searchBtn" type="submit">Search <span class="fas fa-search"></span></button>
    </form>

    <div id="nav-group-right">
      <a href="/" class="text-white" id="home-icon"><i class="fas fa-home"></i></a>
      <a href="" class="text-white" id="user-icon"><i class="fas fa-user-circle"></i></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"><span class="fas fa-home"></span> Home </a>
        </li>
          
        <li class="nav-item">
          <a class="nav-link" href="/profile"><i class="fas fa-user-circle" id="signed-in-icon"></i> <span id="user-name"></span></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/" id="sign-out">Sign Out</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="" id="login" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="modal"
            data-target="#modalLoginForm">
             Login
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link" href="" id="register" role="button" aria-haspopup="true" aria-expanded="false"
            data-toggle="modal" data-target="#registerForm">
            Register
          </a>
        </li>

        <li class="nav-item dropdown" id="mode-toggle">
          <i class="fas fa-moon" id="darkMode"></i>
          <i class="fas fa-sun text-primary" id="lightMode"></i>
        </li>

      </ul>
    </div>
  </nav>
<div id="body">
  <div class="main-container">
    {{{ body }}}
  </div>
  </div>

  <!-- Login Modal -->
  <div class="modal" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Sign In</h4>
          <button type="button" class="close" id="loginFormClose" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-4">
            <i class="fas fa-envelope prefix text-primary"></i>
            <label data-error="wrong" data-success="right" for="loginFormEmail">Email Address</label>
            <input type="email" id="loginFormEmail" class="form-control validate">
          </div>

          <div class="md-form mb-4">
            <i class="fas fa-lock prefix text-primary"></i>
            <label data-error="wrong" data-success="right" for="loginFormPass">Password</label>
            <input type="password" id="loginFormPass" class="form-control validate">
          </div>
          <div class="row justify-content-center">
            <span id="error-login"></span>
          </div>
          <br>
          <div class="row justify-content-center">
            <button class="btn btn-primary" type="submit" id="loginFormSubmit">Sign In</button>
          </div>
        </div>

        <div class="modal-footer d-flex flex-column justify-content-center loginOnly">
          <div class="row loginOnly">
            <p>New Around Here?</p>
          </div>

          <div class="row">
            <button class="btn btn-outline-primary" type="button" id="loginFormRegister" data-toggle="modal"
              data-target="#registerForm">Create
              Account</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Register Modal -->
  <div class="modal" id="registerForm" tabindex="-1" role="dialog" aria-labelledby="registerFormLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Create Account</h4>
          <button type="button" class="close" id="registerFormClose" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-4">
            <i class="fas fa-envelope prefix text-primary"></i>
            <label data-error="wrong" data-success="right" for="registerFormEmail">Email Address</label>
            <input type="email" id="registerFormEmail" class="form-control validate">
          </div>

          <div class="md-form mb-4 registerForm">
            <i class="fas fa-envelope prefix text-primary"></i>
            <label data-error="wrong" data-success="right" for="loginFormUsername">Username</label>
            <input type="text" id="registerFormUsername" class="form-control validate">
            <span id="name-message"></span>
          </div>

          <div class="md-form mb-4">
            <i class="fas fa-lock prefix text-primary"></i>
            <label data-error="wrong" data-success="right" for="loginFormPass">Password (min length 8)</label>
            <input type="password" id="registerFormPass" class="form-control validate">
          </div>

          <div class="md-form mb-4">
            <i class="fas fa-lock prefix text-primary"></i>
            <label data-error="wrong" data-success="right" for="loginFormPass">Confirm Password</label>
            <input type="password" id="registerFormPassConfirm" id="lengthMessage" class="form-control validate">
          </div>

          <div class="row justify-content-center">
            <button class="btn btn-class-primary" type="submit" id="registerFormSubmit">Continue</button>
          </div>
          <span id="error-message"></span>
        </div>

        <div class="modal-footer d-flex flex-column justify-content-center loginOnly">
          <div class="row loginOnly">
            <p>Already Have an Account?</p>
          </div>

          <div class="row">
            <button class="btn btn-outline-primary" type="button" id="registerFormLogin" data-toggle="modal"
              data-target="#modalLoginForm">Sign
              In</button>
          </div>
        </div>

      </div>
    </div>
  </div>

<!-- javascript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/view.js"></script>
  <script type="text/javascript" src="/js/login.js"></script>
  <script type="text/javascript" src="/js/register.js"></script>
  <script type="text/javascript" src="/js/genres.js"></script>
</body>

</html>
