<div class="row">
  <h3 class="w-100 bottom-border">Featured Books</h3>
</div>

{{#each books}}
<div class="card book-card">
  <div class="row">
    <img src="{{this.cover}}" alt="X" class="rounded float-left">
    <div class="card-body">
      <h5 class="card-title">{{this.title}}</h5>
      <p class="card-text">{{this.summary}}</p>
      <a href="#" class="btn btn-info data-toggle">Preview</a>
      <!-- modal containing {{ books.preview }} -->
      <div class="row justify-content-center align-items-center">
        <a href="#"><img class="google-play" src="./assets/google-play-badge.png" alt="X"></a>
        <a href="#"><img class="amazon" src="./assets/amazon-badge.png" alt="X"></a>
      </div>
    </div>
  </div>
</div>
{{/each}}