<div class="container">
  <h3 class="w-100" id="content-heading">Select Your Favorite Genres</h3>
  <div class="row">
    <div class="col-lg-12 pr-0 pl-0">
      <!-- Regester Page -->
      <div class="card">
        <div class="card-header">
          Picking a genre helps us identify which books fit you most!
        </div>
        <div class="card-body">
          <form role="form">
            <div class="form-group">
              <div class="row">
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="action">Action</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="adventure">Adventure</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="anthology">Anthology</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="art">Art</button>
                </div>

              </div>
              <br>
              <div class="row">
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="autobiography">Autobiography</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="biography">Biography</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="book-review">Book Review</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="chick-lit">Chick Lit</button>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="childrens-lit">Children's
                    Lit</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="comic-book">Comic
                    Book</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="cook-book">Cook
                    Book</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="crime">Crime</button>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="diary">Diary</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="drama">Drama</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="fantasy">Fantasy</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="guide">Guide</button>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="history">History</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="horror">Horror</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="mystery">Mystery</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="poetry">Poetry</button>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="political">Political</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="religion">Religion</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="romance">Romance</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="satire">Satire</button>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="science-fiction">
                    Science Fiction</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="thriller">
                    Thriller</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="travel">
                    Travel</button>
                </div>
                <div class="col-md-3">
                  <button type="button" class="btn btn-outline-light genre-btn" id="young-adult">
                    Young Adult</button>
                </div>
              </div>
              <br>
              <div class="row justify-content-center">
                <button type="submit" class="btn btn-primary submit" id="submit-genres">Register</button>
                <a href="/register">
                  <button type="button" class="btn btn-outline-primary">Back</button>
                </a>
                <button type="button" class="btn btn-outline-light" id="reset">Reset</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="welcomeTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="welcomeTitle">Welcome!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Help us get to know you better:<br>
        Pick your favorite genres so we know which awesome books to recommend!
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Get Started</button>
      </div>
    </div>
  </div>
</div>