<div class="container">
  <h3 class="w-100" id="content-heading">Register</h3>
  <div class="row">
    <div class="col-lg-12">
      <!-- Regester Page -->
      <div class="card">
        <div class="card-header">
          New User
        </div>
        <div class="card-body">
          <form role="form">
            <div class="form-group">
              <label for="user-name">User Name</label>
              <input type="text" class="form-control" id="user-name" required><span id='name-message'></span>
            </div>
            <div class="form-group">
              <label for="user-password">Password (min character length of 8)</label>
              <input type="password" class="form-control" id="user-password" required>
            </div>
            <div class="form-group">
              <label for="confirm-password">Confirm Password</label>
              <input type="password" class="form-control" id="confirm-password" required><span id='message'></span>
            </div>
            <div class="form-group">
              <label for="user-email">Email</label>
              <input type="text" class="form-control" id="user-email" required>
            </div>
            <button type="submit" class="btn btn-primary submit">Continue</button>
            <a href="/"><button type="button" class="btn btn-danger">Back</button></a>
            <span id="error-message"></span>
            <script>
              var invalidChar = [];
              $("#user-name").on("keyup", function (event) {
                var ek = event.key.charCodeAt(0);
                if ((ek > 32 && ek < 48) || (ek > 57 && ek < 65) || (ek > 90 && ek < 97) || ek > 123) {
                  //Invalid charactar in name
                  invalidChar.push(event.key);
                  $("#name-message").html("'" + invalidChar.toString() + "' are invalid characters!").css("color", "red");
                } else {
                  var name = $("#user-name").val().trim().toLowerCase();
                  for (var i = invalidChar.length - 1; i >= 0; i--) {
                    if (name.indexOf(invalidChar[i]) < 0) {
                      invalidChar.splice(i, 1);
                    }
                  }
                  if (invalidChar.length) {
                    $("#name-message").html("'" + invalidChar.toString() + "' are invalid characters!").css("color", "red");
                  } else {
                    $("#name-message").empty();
                  }
                }
                // console.log(invalidChar);
              });

              $('#user-password, #confirm-password').on('keyup', function () {
                if ($('#user-password').val() == $('#confirm-password').val() && $('#user-password').val().length > 7) {
                  $('#message').html('Matching').css('color', 'green');

                } else $('#message').html('Not Matching').css('color', 'red');
              });
            </script>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>