:root {
  --light: rgba(255,255,255,1.0);
  --dark: #2A3D4F;
  --grey: #AAB5C1;
  --primary: #DE681C;
}

@-webkit-keyframes toDark{
  0%   {background-color: var(--grey);}
  100% {background-color: var(--dark);}
}

@keyframes toDark{
  0%   {background-color: var(--grey);}
  100% {background-color: var(--dark);}
}

@-webkit-keyframes toLight{
  0%   {background-color: var(--dark);}
  100% {background-color: var(--light);}
}

@keyframes toLight{
  0%   {background-color: var(--dark);}
  100% {background-color: var(--light);}
}


@-webkit-keyframes toGrey{
  0%   {background-color: var(--dark);}
  100% {background-color: var(--grey);}
}

@keyframes toGrey{
  0%   {background-color: var(--dark);}
  100% {background-color: var(--grey);}
}

.bg-dark-slow {
  background-color: var(--dark);
  -webkit-animation-name: toDark;
  -webkit-animation-duration: 0.5s;
  animation-name: toDark;
  animation-duration: 0.5s;
}

.bg-primary-slow {
  background-color: var(--primary);
  -webkit-animation-name: toDark;
  -webkit-animation-duration: 0.5s;
  animation-name: toDark;
  animation-duration: 0.5s;
}

.bg-light-slow {
  background-color: var(--light);
  -webkit-animation-name: toLight;
  -webkit-animation-duration: 0.5s;
  animation-name: toLight;
  animation-duration: 0.5s;
}

.bg-grey-slow {
  background-color: var(--grey);
  -webkit-animation-name: toGrey;
  -webkit-animation-duration: 0.5s;
  animation-name: toGrey;
  animation-duration: 0.5s;
}

.bg-grey {
  background-color: var(--grey);
}

.border-dark {
  border: solid var(--dark) 1px;
}

.form-control {
  border: solid var(--dark) thin;
}

.modal-header,
.modal-footer {
  background-color: var(--dark);
}

#darkMode {
  color: #FFFFFF;
}

.navbar-brand {
  color: #ffffff;
}

.btn-outline-light:hover,
.btn-outline-light:active {
  color: var(--dark) !important;
}

.selected {
  background-color: #AAB5C1;
  color: var(--dark);
}

::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  border-radius: 0.2em;
}


