.main-container {
  width: 85%;
  padding: 1em 10% 0 10%;
  margin: auto;
  background-color: #ffffff;
  min-width: 90vh;
  padding-bottom: 1em;
}

#viewerCanvas{
margin: auto;
}

.book-card {
  margin: 2em 0 2em 0;
}

.card-body {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(51, 51, 51, 0.7);
  border-radius: 0.2em;
}

.amazon,
.google-play {
  width: 75%;
  max-width: 180px;
  height: auto;
}

.amazon {
  width: 65%;
  max-width: 160px;
  height: auto;
}

.container-fluid {
  padding: 0 !important;
}

.row {
  margin: 0 !important;
}

.search-cover {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

#title {
  font-family: 'Patua One', cursive;
}

#head {
  font-family: 'Khand', sans-serif;
}
#body {
  background-image: url("/../assets/hypnotize.png")
}


@media only screen and (max-width: 992px) {
  .main-container {
    padding: 0 5% 0 5%;
  }
}

@media only screen and (min-width: 992px) {
  #loginIcon {
    display: none;
  }
}

