.main-container {
  width: 100%;
  padding: 1em 10% 0 10%;
  margin: auto;
  background-color: #ffffff;
  min-height: 90vh;
  padding-bottom: 1em;
}
#viewerCanvas{
margin: auto;
}

.book-card {
  margin: 2em 0 2em 0;
}

.card-body {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.7);
  border-radius: 0.2em;
}

.amazon,
.google-play {
  width: 75%;
  max-width: 180px;
  height: auto;
}

.amazon {
  width: 65%;
  max-width: 160px;
  height: auto;
}

.container-fluid {
  padding: 0 !important;
}

.row {
  margin: 0 !important;
}

.search-cover {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

#title {
  font-family: 'Patua One', cursive;
}

#head {
  font-family: 'Khand', sans-serif;
}

.btn {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#content-heading {
  font-family: 'Fugaz One', sans-serif;
  margin-top: 0.5em;
  margin-bottom: 0;
}


@media only screen and (max-width: 992px) {
  .main-container {
    padding: 0 5% 0 5%;
  }
  #mode-toggle {
    text-align: right;
  }
}

@media only screen and (min-width: 992px) {
  #loginIcon {
    display: none;
  }
}

