.main-container {
  width: 100%;
  padding: 1em 10% 0 10%;
  margin: auto;
  background-color: #ffffff;
}

.book-card {
  margin: 2em 0 2em 0;
}

.card-body {
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.7);
  border-radius: 0.2em;
}

.amazon,
.google-play {
  width: 75%;
  max-width: 180px;
  height: auto;
}

.amazon {
  width: 65%;
  max-width: 160px;
  height: auto;
}

.container-fluid {
  padding: 0 !important;
}

.row {
  margin: 0 !important;
}

#username, #password, #email {
padding: 10px;
margin: 5px;
}

@media only screen and (max-width: 992px) {
  .main-container {
    padding: 0 5% 0 5%;
  }
}

@media only screen and (min-width: 992px) {
  #loginIcon {
    display: none;
  }
}
